<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AuthKit :: Email Verification</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
            font-family: Arial, sans-serif;
        }
        .container {
            max-width: 600px;
            margin: 50px auto;
            background-color: #ffffff;
            border-radius: 8px;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
            overflow: hidden;
        }
        .header {
            background-color: #1e73be;
            padding: 20px;
            text-align: center;
            color: #ffffff;
        }
        .header h1 {
            margin: 0;
            font-size: 24px;
        }
        .header p {
            margin: 0;
            font-size: 14px;
        }
        .content {
            padding: 30px;
            text-align: center;
        }
        .content h2 {
            font-size: 22px;
            margin-bottom: 20px;
            color: #333333;
        }
        .content p {
            font-size: 16px;
            line-height: 24px;
            color: #555555;
            margin-bottom: 30px;
            text-align: left ! important;
        }
        .content .button {
            display: inline-block;
            background-color: #ff6600;
            color: #ffffff;
            padding: 12px 25px;
            border-radius: 4px;
            text-decoration: none;
            font-size: 16px;
            font-weight: bold;
        }
        .content .button:hover {
            background-color: #e55a00;
        }
        .footer {
            background-color: #f0f0f0;
            padding: 20px;
            text-align: center;
            color: #888888;
            font-size: 14px;
        }
        .footer a {
            color: #1e73be;
            text-decoration: none;
            margin: 0 5px;
        }
        
        .hr {
            border-color: #e6ebf1;
            margin: 20px 0;
        }
        
        .text {
            color: #333;
            font-size: 12px !important;
            line-height: 26px;
            margin: 0 0 26px;
            text-align: center;
            margin-bottom: 5px !important;
        }

        .link {
            color: #1e73be !important;
            font-size: 12px !important;
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            <br>
            <img src="https://res.cloudinary.com/appsdo/image/upload/v1731925246/flefd8bwyzsea98x9dlm.png" width="300" height="90" alt="Welcome" class="image" />

            <br>
            <br>
            <br>
            <p>Thanks for signing up!</p>
        </div>
        <div class="content">
            <h2>Verify Your E-mail Address</h2>
            <p>Hi <b><i>{{name}}</i></b>,</p>
            <p>You're almost ready to get started. Please click on the button below to verify your email address and enjoy exclusive services with us!</p>
            <a href="{{link}}" class="button">Verify Your Email</a>
                <br>
                <br>
            <hr class="hr" />
            <br>
            <br>
            <p class="text">If the magical button doesn't work, you can also copy and paste this link into your browser:</p>
            <p class="link">{{link}}</p>
            <hr class="hr" />

        </div>
        <div class="footer">
            <p>Get in touch: +11 111 333 4444 | info@yourcompany.com</p>
            <p>
                <a href="#">Facebook</a> |
                <a href="#">LinkedIn</a> |
                <a href="#">Instagram</a> |
                <a href="#">YouTube</a> |
                <a href="#">Email</a>
            </p>
            <p>© Company All Rights Reserved</p>
        </div>
    </div>
</body>
</html>
